# ------------- #
# For C and C++ #
# ------------- #

*.exe
*.o
*.out

# ------------------------------------------------------------------------------ #
# Java defaults (https://github.com/github/gitignore/blob/master/Java.gitignore) #
# ------------------------------------------------------------------------------ #
*.class

# Package Files #
*.jar
*.war
*.ear
*/.vscode/**
.vscode/**
.github/**